<!--<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
-->
<ul class="pagination justify-content-center">
  <li class="page-item" (click)="selectPage(1, $event)" [class.disabled]="currentPage == 1">
    <a class="page-link"  href="" title="Go to first page">&laquo;</a>
  </li>
  <li  class="page-item" (click)="selectPage(currentPage - 1, $event)" [class.disabled]="currentPage == 1">
    <a  class="page-link"  href="" title="Go to previous page">&lsaquo;</a>
  </li>
  <li class="page-item" class="disabled" (click)="cancelEvent($event)" *ngIf="(currentPage - range) > 1">
    <a class="page-link"  href="">...</a>
  </li>
  <li class="page-item" *ngFor="let page of pages | async" [class.active]="page == currentPage">
    <a class="page-link"  href="" (click)="selectPage(page, $event)">
      {{page}}
    </a>
  </li>
  <li  class="disabled" (click)="cancelEvent($event)" *ngIf="(currentPage + range) < totalPages">
    <a class="page-link"  href="">...</a>
  </li>
  <li (click)="selectPage(currentPage + 1, $event)" [class.disabled]="currentPage == totalPages">
    <a class="page-link"  href="" title="Go to next page">&rsaquo;</a>
  </li>
  <li (click)="selectPage(totalPages, $event)" [class.disabled]="currentPage == totalPages">
    <a class="page-link"  href="" title="Go to last page">&raquo;</a>
  </li>
</ul>

