
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="black-muted-bg">
        <th class="active" *ngFor="let header of gridOptions.columns">
          <div *ngIf="header.visible!=false">{{header.name}}
            <i (click)="sortingEvent(header)" [ngClass]="getHeaderClass(header)"></i>
          </div>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="no-top-border" *ngFor="let item of gridOptions.dataSource">
        <td *ngFor="let header of gridOptions.columns">
          <div *ngIf="header.visible!=false"> {{item[header.name]}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="at-grid-pagging">
  <!--<at-grid-pagination [allItems]="gridOptions.dataSource" (onPageChanged)="onPageChanged($event)"></at-grid-pagination>-->
<at-grid-pagination [offset]="gridOptions.pageOffset" [limit]="gridOptions.pageLimit" [size]="gridOptions.pageCount" (pageChange)="onPageChange($event)"></at-grid-pagination>
</div>