/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:lightblue;
}*/
.sortable,i {
    cursor: pointer;
}
.at-grid-pagging {

    text-align: center;

}